{erl_opts, [debug_info]}.
{deps, [
]}.
{shell, [
  % {config, "config/sys.config"},
    {apps, [borges]}
]}.

{dialyzer, [
   {warnings, [
               unknown
              ]},
   {plt_apps, all_deps},
   {plt_extra_apps, [inets, mnesia]}
  ]}.
                                                                      

{format, [
    {files, ["src/*/*.erl", "src/*.erl", "test/*.erl"]},
    {ignore, [
              "*.config"
             ]
    },
    {formatter, default_formatter},
    {options, #{
                inline_clause_bodies => true,
                inline_simple_funs => true,
                inline_items => none,
                inline_attributes => none,
                inline_fields => none,
                spaces_around_fields => false
            }}
]}.

{plugins, [rebar3_format]}.

{profiles, [
  {lint, [{plugins, [{rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.11"}}}]}]},  
  {prod, [{relx, [{dev_mode, false},                                  
    {include_erts, true}]}]                                           
  }]                                                                  
}. 

{xref_checks,[
              undefined_function_calls,
              undefined_functions,                                                                                                           
              locals_not_used,                   
              deprecated_function_calls,
              deprecated_functions                                                                                                           
             ]}.


{elvis,                                      
  [#{dirs => ["apps/*/src", "src"],        
    filter => "*.erl",               
    ignore => [infranet_pb],              
    rules => [                        
      {elvis_style, line_length,             
        #{ignore => [],
          limit => 120,
          skip_comments => false}},           
      {elvis_style, no_tabs},                                         
      {elvis_style, no_trailing_whitespace},    
      {elvis_style, macro_names, #{ignore => []}},
      {elvis_style, macro_module_names},
      {elvis_style, operator_spaces,
        #{rules => [
          {right, ","},
          {right, "||"},
          {right, "++"},
          {left, "++"}]}},
      {elvis_style, nesting_level, #{level => 4}},
      {elvis_style, god_modules,
        #{limit => 25,
          ignore => []}},
      {elvis_style, no_if_expression},
      {elvis_style, used_ignored_variable},
      {elvis_style, no_behavior_info},
      {
        elvis_style,
        module_naming_convention,
        #{regex => "^[a-z]([a-z0-9]*_?)*(_SUITE)?$",
          ignore => []}
      },
      {
        elvis_style,
        function_naming_convention,
        #{regex => "^([a-z][a-z0-9]*_?)*$"}
      },
      {elvis_style, state_record_and_type},
      {elvis_style, no_spec_with_records},
      {elvis_style, dont_repeat_yourself, #{min_complexity => 15}},
      {elvis_style, no_debug_call, #{ignore => []}}
    ]
  },
    #{dirs => ["."],
      filter => "Makefile",
      rules => [{elvis_project, no_deps_master_erlang_mk, #{ignore => []}},
      {elvis_project, protocol_for_deps_erlang_mk, #{ignore => []}}]
    },
    #{dirs => ["."],
      filter => "rebar.config",
      rules => [{elvis_project, no_deps_master_rebar, #{ignore => []}},
      {elvis_project, protocol_for_deps_rebar, #{ignore => []}}]
    }
  ]
}.

